* {
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    padding: 0;
    width: 100%;
}

.logo {
    height: 105px;
    width: 105px;
}

@media (min-width: 576px) {
    .top-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }


    h1 {
        font-size: 64px;
        font-family: 'Anton', sans-serif;
        text-align: center;
        padding-right: 0;
        padding-bottom: 10px;
        padding-left: 0;
        margin-top: 60px;
    }

    h2 {
        font-size: 48px;
        font-family: 'Anton', sans-serif;
        text-align: center;
        padding: 10px;
    }

    h3 {
        font-size: 40px;
        font-family: 'Anton', sans-serif;
    }

    h4 {
        font-size: 32px;
        font-family: 'Anton', sans-serif;
    }

    h5 {
        font-size: 28px;
        font-family: 'Anton', sans-serif;
    }

    p {
        font-family: 'Abel', sans-serif;
    }

    .circle {
        width: 105px;
        height: 105px;
        line-height: 92px;
        border-radius: 50%;
        margin: 1em;
        border: white .25em solid;
        color: whitesmoke;
        font-family: 'Anton', sans-serif;
        font-size: 18px;
    }

    .big-circles {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .red-circle {
        background: #E6563B;
    }

    .orange-circle {
        background: #EB9D3A;
    }

    .green-circle {
        background: #7CB06C;
    }

    .teal-circle {
        background: #00ABA9;
    }

    .orange-circle {
        background: #EB9D3A;
    }

    .green-circle {
        background: #7CB06C;
    }


    hr {
        margin: auto;
        width: 80%;
    }

    img {
        border: solid 8px #E6E6E6;
        max-width: 100%;
        height: auto;
        border-radius: 7px;
    }

    #tweet {
        margin-top: 10px;
    }

    .card {
        background-color: transparent;
        border: none;
        width: 18rem;
    }

    .media > img {
        height: 64px;
        width: 64px;
        border: solid 4px #E6E6E6;
        border-radius: 3px;
    }


    .fab {
        height: 40px;
        width: 40px;
    }


    .icons {
        display: flex;
        justify-content: space-between;
    }

    .sm-circle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: black;
        margin-left: 5px;
        font-size: 8px;
        padding-left: 6px;
        padding-top: 2px;
        font-family: 'Anton', sans-serif;
    }

    @media (min-width: 992px) {
        .top-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            width: 100%;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
        }


        @media screen and (max-width: 420px) {
            html, body {
                max-width: 100%;
                overflow-x: hidden;
            }

            .lg-nav {
                display: none;
            }
        }

        @media screen and (min-width: 720px) {
            .xs-nav {
                display: none;
            }
        }

        .logo {
            height: 105px;
            width: 105px;
        }
    }
}