/* Breakpoints
   Breakpoints are what we refer to as major resolution changes, which you specify with media queries,
   usually based on popular device configurations. They are called breakpoints because traditionally major layout elements
   are broken and repositioned, though not always the case, and the name stuck.
   You can determine whatever breakpoint px size you want, but you can find plenty of resources online to find the most
    frequently used breakpoints.
*/

/* Small devices (phones and pocket devices, 576 and up) */
/* @media screen and (min-width:576px) { /* ... */

/* Medium devices (tablets, 768px and up) */
/* @media screen and (min-width:768px) { /* ... */

/* Large devices (desktops, 992px and up) */
/* @media screen and (min-width:992px) { /* ... */

/* Extra large devices (large desktops, 1200px and up) */
/* @media screen and (min-width:1200px) { /* ... */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 1em;
    padding: 0 0;
}

nav {
    width: 100%;
}

.alert-info {
    background-color: lightblue;
    border: lightgrey solid .1em;
    text-align: center;
    width: 100%;
    padding: 1em;
}

.alert-info > a {
    color: black;
}

.nav-links {
    list-style: none;
    text-align: center;
    width: 100%;
}

nav > ul {
    margin: 0;
    padding: 0;
}

nav > ul > li > a {
    display: block;
    padding: 1em;
    font-size: 1em;
    margin: 1em;
    background-color: lightgrey;
}

.header-img {
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.sub-section {
    font-style: italic;
}

h1 {
    text-align: center;
    font-size: 4em;
    padding: 0 0;
    margin: 0 0;
}

h2 {
    margin-bottom: 0;
}

section {
    display: inline-block;
}

footer {
    display: flex;
    margin-top: 5em;
    justify-content: space-between;
    margin-bottom: 1em;
}

#social-media-links {
    margin-left: 30em;
    align-content: flex-end;
    justify-content: flex-end;
}

.fa-skull {
    font-size: 3em;
    color: black;
    padding: .5em;
}

@media screen and (min-width: 992px) {

    .hidden-on-desktop {
        display: none;
    }

    body {
        margin: 1.5em;
    }

    h1 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 0;
        padding: 0 0;
        margin-right: auto;
    }

    span {
        font-size: 40px;
    }

    ul {
        justify-content: flex-end;
        align-content: flex-end;
        margin-left: 30em;
    }

    nav {
        margin-left: 3em;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    nav > ul > li > a {
        background-color: white;
        padding: 1.5em;
    }

    h2 {
        margin-top: 0;
    }

    .main {
        width: 50%;
        margin-right: auto;
    }

    section {
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;

    }

    .sub-section {
        display: inline-block;
        width: 45%;
        margin-left: auto;
        flex-wrap: wrap;
        justify-content: center;

    }

    footer {
        margin: fill;
        padding-top: 10em;
    }
}