body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info {
    background-color: #CCDFFC;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 70px;
    margin-bottom: 10px;
    color: #3E008D;
    border-radius: 4px;
    padding: 10px;
    border: .5px solid #EBEBEB;
}
.message-success {
    background-color: #CDF3DC;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #006232;
    border-radius: 4px;
    padding: 10px;
    border: .5px solid #EBEBEB;
}
.message-warning {
    background-color: #FCFACE;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #836C21;
    border-radius: 4px;
    padding: 10px;
    border: .5px solid #EBEBEB;
}
.message-error {
    background-color: #FCD3D7;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7A0523;
    border-radius: 4px;
    padding: 10px;
    border: .5px solid #EBEBEB;
}